:root{
    font-size: calc(.5em + .7vw);
    line-height: 1.5;
    --bg-color: rgb(214, 214, 214);
    --main-color: rgb(24, 24, 24);
    --border-color: rgb(49, 40, 40);
}
body{
    background-color: var(--bg-color);
    color: var(--main-color);
    display: flex; 
    flex-wrap: wrap; 
    font-family: sans-serif;
}
h1{
    margin: 5vh auto;
    font-size: calc(2rem + 2vw);
}
.app{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-one{
    border: 1px solid var(--border-color);
    font-size: 1rem;
    width: 40vw;
    height: 30vh;
    padding: .5em;
    border-radius: .5em;
    margin: .5em;
}
.container-two{
    border: 1px solid var(--border-color);
    font-size: 1rem;
    width: 40vw;
    height: 30vh;
    padding: .5em;
    border-radius: .5em;
    margin: .5em;
}
.container-three{
    border: 1px solid var(--border-color);
    font-size: 1rem;
    width: 40vw;
    height: 30vh;
    padding: .5em;
    border-radius: .5em;
    margin: .5em;
}
.container-four{
    border: 1px solid var(--border-color);
    font-size: 1rem;
    width: 40vw;
    height: 30vh;
    padding: .5em;
    border-radius: .5em;
    margin: .5em;
}
.dark-light-btn{
    font-size: .7rem;
    margin: .6em;
    width: 4vmin;
    height: 5vmin;
    padding: .6em;
    color: var(--main-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: .5em;
    transition: .5s;
}
.dark-light-btn:hover{
    box-shadow: 0 0 10px var(--main-color);
}